@font-face {
    font-family: "FontAwesome-web";
    src: url("../fonts/fontawesome-webfont.ttf");
}@font-face {
    font-family: "Flat-it-Compasse-Bold";
    src: url("../fonts/Flat-it%20-%20Compasse-Bold.otf");
}
/*body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
.house:before{
    content:  "\f015";
    font-family: FontAwesome-web;
    color: #777777;
    font-size: 21px;
    padding-right: 10px;
}
.house{
    text-transform: uppercase;
    display: block;
    padding-top: 7px;
}
.title-index{
    font-family: "Alegreya Sans SC",sans-serif;
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #aa0000;
}
.navbar-nav > li:first-child {
    border-right: 1px solid #777777;
}
.navbar-right > li > a {
    text-transform: uppercase;
    font-size: 18px;
}
.navbar-collapse {
    z-index: 1000;
}
.index-image{
    width: 100%;
    height: auto;
    margin: auto;
}
.contact-wr{
    padding: 15px 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    margin: 10px 0;
}
.absolute-header{
    position: absolute;
    top: 75px;
    left: 10%;
    background-color: rgb(200, 0, 0);
    opacity: .8;
    width: 80%;
    height: 322px;
    z-index: 100;
}
.absolute-header span{
    display: block;
    color: #fff;
    font-size: 35px;
    margin: 60px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.absolute-header p{
    padding: 3% 20%;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
@media (max-width: 1024px) {
    .absolute-header{
        width: 100%;
        left: 0;
        display: none;
    }
    .flexslider {
        display: none;
    }
}
@media (max-width: 768px) {
    .absolute-header p {
        font-size: 14px;
        padding: 3% 10%;
    }
}
.service{
    margin-top: 50px;
    height: 170px;
    opacity: 0.9;
    transition-duration: 5s;
    transition-property: transform;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: transform;
    -moz-transition-duration: 1s;
    -ms-transition-property: transform;
    -ms-transition-duration: 1s;
}
.service h2{
    font-family: 'Montserrat', sans-serif;
}
.service button{
    border: 0;
    background-color: inherit;
    display: block;
    margin: 10px auto 0;
    padding: 5px 20px;
    font-family: "Noto Sans", arial, helvetica, sans-serif;
    font-size: 25px;
    width: auto;
    height: auto;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 1px 0 #000000;
    box-shadow: 3px 3px 1px 0 #000000;
    border: 1px solid #000000;
}
.service button:hover {
    -webkit-box-shadow: 0 0 0 0 #000000;
    box-shadow: 0 0 0 0 #000000;
}
.service span{
    display: block;
    font-size: 30px;
    margin: 35px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;

}
.service p {
    margin: 40px auto;
    text-align: center;
    padding: 0 5%;
    font-size: 23px;
}
.content-service{
    /*display: none;*/
    color: #fff;
    margin: 50px 0 0 0;
}
.content-service p{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 3% 10%;
    font-size: 21px;
}
.content-service h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
}
.grey{
    color: #aa0000;
    background-color: #aaa;
}
.white-color{
    color: #aa0000;
    background-color: #fff;
}
.red-color{
    background-color: #aa0000;
    color: #fff;
}
.black{
    background-color: #000;
    color: #fff;
}
.black button {
    -webkit-box-shadow: 3px 3px 1px 0 #aeaeae;
    box-shadow: 3px 3px 1px 0 #aeaeae;
    border: 1px solid #aeaeae;
}
.black button:hover {
    -webkit-box-shadow: 0 0 0 0 #aeaeae;
    box-shadow: 0 0 0 0 #aeaeae;
}
.position{
    margin: auto;
    text-align: center;
    display: block;
    font-size: 15px;
}
.mapa{
    height: 270px;
    margin: auto;
}
@media (max-width: 768px) {
    .contact-wr{
        text-align: center;
    }

}
.slides h1{
    font-family: 'Playfair Display', serif;
    position: relative;
    color: #000000;
    text-transform: uppercase;
    font-size: 25px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
 .slider-wr{
     display: block;
     height: 250px;
     width: 60%;
     margin: 10px auto;
     background-color: #ffffff;
     z-index: 100;
     border-radius: 15px;
     opacity: 0.75;
 }
 @media (max-width: 768px) {
     .slider-wr{
         width: 90%;
     }
 }
 .hole{
     display: block;
     width: 100%;
     height: 75px;
     background-color: transparent;
 }
 .slider-text{
     display: block;
     position: relative;
     text-align: center;
     margin: 20px auto;
     padding: 0 5%;
     font-size: 18px;
 }
@media (max-width: 400px) {
    .slider-text{
        font-size: 12px;
    }
}
.arrow{
    position: fixed;
    display: none;
    bottom: 60px;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #aa0000;
    z-index:100;
}
.arrow:before{
    content:  "\f062";
    font-family: FontAwesome-web;
    color: #fff;
    font-size: 30px;
    padding: 12px 11px 0;
}
.name:before{
    display: inline-block;
    content: "\f21b";
    font-family: FontAwesome-web;
    color: #aa0000;
    font-size: 21px;
    padding: 0 10px 0 0;
}
.name{
    font-family: Montserrat;
    font-size: 18px;
}
.phone:before{
    display: inline-block;
    content: "\f095";
    font-family: FontAwesome-web;
    color: #aa0000;
    font-size: 21px;
    padding: 0 10px 0 20px;
}
.phone{
    font-family: Montserrat;
    font-size: 18px;
}
.info{
    display: block;
    margin: auto;
    text-align: center;
}
.email:before{
    display: inline-block;
    content: "\f0e0";
    font-family: FontAwesome-web;
    color: #aa0000;
    font-size: 21px;
    padding: 0 10px 0 20px;
}
.email{
    font-family: Montserrat;
    font-size: 18px;
}
.mail-link{
    color: #333;
    text-decoration: none;
}
.footer {
    background-color: #000;
    font-family: 'Open Sans', 'sans-serif';
    height: 60px;
    padding-top: 10px;
}
.copyright{
    position: relative;
    display: block;
    padding:5px;
    color: #ffffff;
}
.developed{
    position: relative;
    display: block;
    padding: 5px;
    color: #fff;
    text-align: right;
}
.name-footer{
    color: #aa0000;
}
.triangle{
    display: none;
}
.gallery{
    text-align: center;
}
#red-content{
    display: none;
}
#black-content{
    display: none;
}
#white-content{
    display: none;
}
@media (max-width: 786px) {
    .developed{
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
}
@media (min-width: 1024px) {
    .mapa{
        margin: 0 0 0 5%;
    }
}


.maps iframe {
    width: 100%;
    min-height: 300px;
    margin: 20px 0;
}
ul{
    list-style: none outside none;
    padding-left: 0;
    padding-bottom: 20px;
}
.gallery li {
    display: inline-block;
    height: 200px;
    margin-bottom: 6px;
    margin-right: 6px;
    width: 200px;
}
.gallery li a {
    height: 200px;
    width: 200px;
}
.gallery li a img {
    max-width: 200px;
}
.form-wrapper{
    margin: auto;
    text-align: center;
    padding: 18px 0 0;
}
.form-wrapper h2{
    font-size: 24px;
    padding: 0 0 5px;
    color: #1a80d2;
    font-family: RobotoSlab-Light;
}
.form-wrapper .form{
    display: block;
    margin: auto;
    width: 300px;
    color: #333333;
    text-align: center;
}
.form-wrapper .form tr{
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
.form-wrapper .form td{
    text-align: left;
    font-family: "Flat-it-Compasse-Bold", Verdana, Tahoma;
    font-size: 16px;
}
.form-wrapper .form td input{
    width: 299px;
    height: 38px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 5px;
}
.form-wrapper .form td textarea{
    width: 299px;
    height: 118px;
    resize: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.form-wrapper .contact{
    margin: 23px auto 38px;
}
.red{
    position: relative;
    display: block;
    margin: 77px auto 0;
    width: 200px;
    height: 60px;
    background-color: #aa0000;
    text-transform: uppercase;
    font-family: Flat-it-Compasse-Bold;
    font-size: 16px;
    color: #fff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 -3px #4d4d4d;
    box-shadow: 0 1px 0 0 #4d4d4d;
}
.white{
    position: relative;
    display: block;
    margin: -30px auto 0;
    width: 200px;
    height: 40px;
    background-color: #fff;
    text-transform: uppercase;
    font-family: Flat-it-Compasse-Bold;
    font-size: 16px;
    color: #aa0000;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 -3px #4d4d4d;
    box-shadow: 0 1px 0 0 #4d4d4d;
}






