@font-face {
    font-family: "FontAwesome-web";
    src: url("../fonts/fontawesome-webfont.ttf");
}@font-face {
    font-family: "Flat-it-Compasse-Bold";
    src: url("../fonts/Flat-it%20-%20Compasse-Bold.otf");
}
/*body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
.house:before{
    content:  "\f015";
    font-family: FontAwesome-web;
    color: #777777;
    font-size: 21px;
    padding-right: 10px;
}
.house{
    text-transform: uppercase;
    display: block;
    padding-top: 7px;
}
.title-index{
    font-family: 'Montserrat', serif;
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #aa0000;
}
.index-image{
    width: 100%;
    height: auto;
    margin: auto;
}
.contact-wr{
    padding: 15px 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    margin: 10px 0;
}
.absolute-header{
    position: absolute;
    top: 75px;
    left: 10%;
    background-color: rgb(200, 0, 0);
    opacity: .8;
    width: 80%;
    height: 322px;
    z-index: 100;
}
.absolute-header span{
    display: block;
    color: #fff;
    font-size: 35px;
    margin: 60px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.absolute-header p{
    padding: 3% 20%;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
@media (max-width: 1024px) {
    .absolute-header{
        width: 100%;
        left: 0;
    }
}
@media (max-width: 768px) {
    .absolute-header p {
        font-size: 14px;
        padding: 3% 10%;
    }
}
.service{
    margin-top: 50px;
    height: 300px;
    opacity: .9;
    transition-duration: 5s;
    transition-property: transform;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: transform;
    -moz-transition-duration: 1s;
    -ms-transition-property: transform;
    -ms-transition-duration: 1s;
}
.service h2{
    font-family: 'Montserrat', sans-serif;
}
.service button{
    border: 0;
    background-color: inherit;
    display: block;
    margin: auto;
    padding: 5px;
    font-family: "Noto Sans", arial, helvetica, sans-serif;
    text-decoration: underline;
    font-size: 25px;
}
.service span{
    display: block;
    font-size: 45px;
    margin: 70px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;

}
.service p {
    margin: 40px auto;
    text-align: center;
    padding: 0 5%;
    font-size: 23px;
}
.content-service{
    /*display: none;*/
    color: #fff;
    margin: 50px 0 0 0;
}
.content-service p{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 3% 10%;
    font-size: 21px;
}
.content-service h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.grey{
    color: #aa0000;
    background-color: #aaa;
}
.white{
    color: #aa0000;
    background-color: #fff;
}
.red{
    background-color: #aa0000;
    color: #fff;
}
.black{
    background-color: #000;
    color: #fff;
}
.position{
    margin: auto;
    text-align: center;
    display: block;
    font-size: 15px;
}
.mapa{
    height: 270px;
    margin: auto;
}
@media (max-width: 768px) {
    .contact-wr{
        text-align: center;
    }

}
.slides h1{
    font-family: 'Playfair Display', serif;
    position: relative;
    color: #000000;
    text-transform: uppercase;
    font-size: 25px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
 .slider-wr{
     display: block;
     height: 250px;
     width: 60%;
     margin: 10px auto;
     background-color: #ffffff;
     z-index: 100;
     border-radius: 15px;
     opacity: 0.75;
 }
 @media (max-width: 768px) {
     .slider-wr{
         width: 90%;
     }
 }
 .hole{
     display: block;
     width: 100%;
     height: 75px;
     background-color: transparent;
 }
 .slider-text{
     display: block;
     position: relative;
     text-align: center;
     margin: 20px auto;
     padding: 0 5%;
     font-size: 18px;
 }
@media (max-width: 400px) {
    .slider-text{
        font-size: 12px;
    }
}
.arrow{
    position: fixed;
    display: none;
    bottom: 45px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #aa0000;
    z-index:100;
}
.arrow:before{
    content:  "\f062";
    font-family: FontAwesome-web;
    color: #fff;
    font-size: 30px;
    padding: 12px 11px 0;
}
.name:before{
    display: inline-block;
    content: "\f21b";
    font-family: FontAwesome-web;
    color: #aa0000;
    font-size: 21px;
    padding: 0 10px 0 0;
}
.name{
    font-family: Montserrat;
    font-size: 18px;
}
.phone:before{
    display: inline-block;
    content: "\f095";
    font-family: FontAwesome-web;
    color: #aa0000;
    font-size: 21px;
    padding: 0 10px 0 20px;
}
.phone{
    font-family: Montserrat;
    font-size: 18px;
}
.info{
    display: block;
    margin: auto;
    text-align: center;
}
.email:before{
    display: inline-block;
    content: "\f0e0";
    font-family: FontAwesome-web;
    color: #aa0000;
    font-size: 21px;
    padding: 0 10px 0 20px;
}
.email{
    font-family: Montserrat;
    font-size: 18px;
}
.mail-link{
    color: #333;
    text-decoration: none;
}
.footer {
    background-color: #000;
    font-family: 'Open Sans', 'sans-serif';
}
.copyright{
    position: relative;
    display: block;
    padding:5px;
    color: #ffffff;
}
.developed{
    position: relative;
    display: block;
    padding: 5px;
    color: #fff;
    text-align: right;
}
.name-footer{
    color: #aa0000;
}
.triangle{
    display: none;
}
.gallery{
    text-align: center;
}
#red-content{
    display: none;
}
#black-content{
    display: none;
}
#white-content{
    display: none;
}
@media (max-width: 786px) {
    .developed{
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
}
@media (min-width: 1024px) {
    .mapa{
        margin: 0 0 0 5%;
    }
}
